.Mainlayout {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  padding: 20px;
}

.Mainlayout-sidebar {
  width: 320px;
  position: sticky;
  top: 20px;
  align-self: flex-start; top: 20px;
    height: fit-content;
}


.Mainlayout-content {
  flex: 1;
}